* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Open Sans', sans-serif;
}

.jumbotron {
	min-height: 500px; 
  	background-color: transparent;
  	background-image: url(../img/hp-background-image.png);
  	background-size: cover;
  	background-repeat: no-repeat;
} 

.hp-main-text {
	padding-top: 200px;
}

.hp-customer {
	background-color: #f8f9fa;
}

.hp-api {
	background-color: #f8f9fa;
}
